body{
    background-color: rgb(68, 67, 67);
    align-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    padding-top: 40px;
}

nav {
    margin-top: 20px;
    text-align: center;
    zoom: 1.4;
}

nav a {
    margin: 0 8px;
    color: white;
    text-decoration: none;
}

nav i {
    color: rgb(247, 69, 69);
}

h2 {
    padding: 5px;
    color: rgb(247, 69, 69);
}

p {
    padding-bottom: 10px;
}

section {
    text-align: center;
    background-color: rgb(124, 124, 124);
    border-radius: 50px;
}

@font-face {
    font-family: 'PoppinsLocal';
    src: url('fonts/Poppins-Regular.woff');
}

.georgia {
    font-family: Georgia, serif;
}

.arial {
    font-family: Arial, sans-serif;
}

.courier {
    font-family: 'Courier New', monospace;
}

.poppins {
    font-family: 'PoppinsLocal', sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
}

.social-links img {
    display: block;
    width: 25px;
    height: 25px;
}

